<div class="background">
    <div class="login-card">
        <h2>Exam Portal</h2>
        <form>
            <div class="input-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" placeholder="Enter your username"
                    [(ngModel)]="userData.username" required />
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input [type]="showPassword ? 'text' : 'password'" id="password" name="password"
                    placeholder="Enter your password" name="newPassword2" [(ngModel)]="userData.password" required />
                <span class="toggle-icon" (click)="togglePasswordVisibility()">
                    <i class="fa-solid" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
                </span>
            </div>
            <button type="submit" (click)="login()">Login</button>
            <p class="signup-text">Don't have an account? <a routerLink="/auth/register">Register</a></p>
            <p class="signup-text">Forgot Password? <a routerLink="/auth/forgot-password">Help?</a></p>
        </form>
    </div>
</div>