<div class="background">
  <div class="login-card">
    <h2>Exam Portal</h2>
    <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
      <div class="input-group">
        <label for="oldPassword">Old Password</label>
        <input
          [type]="showOldPassword ? 'text' : 'password'"
          id="oldPassword"
          placeholder="Enter old password"
          formControlName="oldPassword"
          required
        />
        <span class="toggle-icon" (click)="toggleOldPasswordVisibility()">
          <i class="fa-solid" [ngClass]="showOldPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
        </span>
      </div>

      <div class="input-group">
        <label for="newPassword1">New Password</label>
        <input
          [type]="showNewPassword1 ? 'text' : 'password'"
          id="newPassword1"
          placeholder="Enter new password"
          formControlName="newPassword1"
          required
        />
        <span class="toggle-icon" (click)="toggleNewPassword1Visibility()">
          <i class="fa-solid" [ngClass]="showNewPassword1 ? 'fa-eye-slash' : 'fa-eye'"></i>
        </span>
      </div>

      <div class="input-group">
        <label for="newPassword2">Confirm New Password</label>
        <input
          [type]="showNewPassword2 ? 'text' : 'password'"
          id="newPassword2"
          placeholder="Confirm new password"
          formControlName="newPassword2"
          required
        />
        <span class="toggle-icon" (click)="toggleNewPassword2Visibility()">
          <i class="fa-solid" [ngClass]="showNewPassword2 ? 'fa-eye-slash' : 'fa-eye'"></i>
        </span>
      </div>

      <button type="submit">Change Password</button>
    </form>
  </div>
</div>
