<div class="background">
    <div class="login-card">
        <h2>Exam Portal</h2>
        <form [formGroup]="forgotPasswordForm"(ngSubmit)="sendOtp()">
            <div class="input-group">
                <label for="email">Email</label>
                <input type="email" id="email" formControlName="email" placeholder="Enter your email" required />
            </div>
            <button type="submit">Send OTP</button>
        </form>
    </div>
</div>
<div class="otp-popup" *ngIf="showOtpPopup">
    <div class="otp-card">
        <div class="input-group">
            <label for="OTP">Enter OTP</label>
            <input type="text" maxlength="6" [(ngModel)]="enteredOtp" placeholder="Enter 6-digit OTP" name="otp"
                required />
        </div>
        <button (click)="verifyOtp()">Verify OTP</button>
    </div>
</div>