<div class="background">
    <div class="login-card">
        <h2>Exam Portal</h2>
        <form [formGroup]="registerForm" (ngSubmit)="register()">
            <div class="input-group">
                <label for="firstname">First Name</label>
                <input type="text" id="firstname" placeholder="Enter your firstname" formControlName="firstname"
                    required />
            </div>

            <div class="input-group">
                <label for="lastname">Last Name</label>
                <input type="text" id="lastname" placeholder="Enter your lastname" formControlName="lastname"
                    required />
            </div>

            <div class="input-group">
                <label for="username">User Name</label>
                <input type="text" id="username" placeholder="Enter your username" formControlName="username"
                    required />
            </div>

            <div class="input-group">
                <label for="password">Password</label>
                <input [type]="showPassword ? 'text' : 'password'" id="password" placeholder="Confirm new password"
                    formControlName="password" required />
                <span class="toggle-icon" (click)="togglePasswordVisibility()">
                    <i class="fa-solid" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
                </span>
            </div>

            <div class="input-group">
                <label for="email">Email</label>
                <input type="email" id="email" placeholder="Enter your email" formControlName="email" required />
            </div>

            <div class="input-group">
                <label for="phone">Phone</label>
                <input type="text" id="phone" placeholder="Enter your phone number" formControlName="phone" required />
            </div>

            <button type="submit">Register</button>
        </form>
    </div>
</div>